
:root {
  --gray-l-l: #e6e6e6;
  --gray-l: #495057;
  --gray: #343a40;
  --main-or:#e67e22;
  --main-or-dr:#cf711f;
  --main: #087f5b;
  --main-dr: #064935;
  --main-lg: #96f2d7;
}
/* ********************************************************************************* */
/* * STYLING FOR HEADER */
header {
  background-color: #fdf2e9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
/* * break line after header */
header::after {
  content: '';
  display: block;
  height: 5px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f8d8bd;
  border-radius: 5px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-right: 12px;
}

.hover-efect {
  position: relative;
}

.hover-efect::before {
  content: '';
  display: block;
  height: 5px;
  border-radius: 5px;
  background-color: var(--main-or);
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  transform: scale(0, 1);
  transform-origin: left;
  transition: all ease-in-out 0.3s;
}

.hover-efect:hover::before {
  transform: scale(1, 1);
}

li > .main-nav-link:link:last-child {
  margin-left: 1.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  margin: 0 auto;
  font-size: 2.4rem;
  color: var(--gray);
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: var(--main-or);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
 background-color: var(--main-or);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--main-or-dr);
}

.container {
  margin: 20px;
}

.logo {
  margin: 1.6rem 3.2rem;
  font-family: 'Tangerine', cursive;
  font-style: normal;
  font-weight: bolder;
  font-size: 6.44rem;
  position: relative;
}

.logo::after{
  content: "";
  position: absolute;
  height: 2px;
  background-color: var(--main-or);
  top: 40%;
  left: 20%;
  right: 0;
  border-radius: 9px;
}

/* ********************************************************************************* */
/* * HERO SECTION */
section {
  margin-bottom: 64px;
}
.hero-img{
  width: 100%;
  border-radius: 50%;
}

/*! using grid */
.section-hero{
  background-color: #fdf2e9;
  padding: 9.6rem 0;
}

.hero{
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-text-box {
  text-align: center;
}

.heading-prefix{
  display: inline-block;
  font-size: 1.6rem;
  color: var(--main-or);
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.hero-description{
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 6.4rem;
}
/* * button style */

.btn:link, .btn:visited{
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  font-weight: 600;
/*! put transition on original "state" */
  transition: all .3s ease-in-out;
}

.btn--full:link, .btn--full:visited{
  background-color: var(--main-or);
  color:#fff
}
.btn--full:hover, .btn--full:active{
  background-color: var(--main-or-dr);
  color:#fff
}

.btn--outline:link, .btn--outline:visited{
  background-color: #fff;
  color: #555
}
.btn--outline:hover, .btn--outline:active{
  background-color: #fdf2e9;
  color: #555;
  /*! trick to add border inside */
  box-shadow: inset 0 0 0 3px #fff;
}

.margin-right-sm{
  margin-right: 1.6rem;
}

.dot {
  color: var(--main-or);
}

/* ********************************************************************************* */
/* * ABOUT SECTION */

.section-about {
position: relative;
background-color: #f8d8bd ;
z-index: 10;
/* clip-path: polygon(0 0, 100% 0, 75% 100%, 100% 0); */
clip-path: polygon(0 4%, 100% 0, 100% 100%, 0 96%);
padding: 6.4rem 0;

}

/* .about::after{
  content: "";
  display:block;
  height: 2px;
  border-radius: 9px;
  background-color: #f3bf91;
  position: absolute;
  top: 40%;
  right: 30%;
  left: 25%;
} */
.flex-heading{
  display: flex;
  align-items: center;
  margin-bottom: 1.8rem;
}


.about-description{
  font-size: 1.6rem;
  line-height: 1.8;
  text-align: center;
  font-weight: 500;
}

.about-prefix{
  display: inline-block;
  font-size: 1.6rem;
  color: var(--main-or);
  font-weight: 600;
}

.about-text{
  font-size: 1.6rem;
  line-height: 1.05;
  font-weight: 500;
}
.edu-group {
  margin-top: 6.4rem;
  line-height: 1.8;
}

.about-img{
  clip-path: polygon(50% 0%, 100% 0, 87% 57%, 75% 100%, 0 100%, 18% 23%, 0 1%);
  width: 100%;
  /* border-radius: 50%; */
}

/* ********************************************************************************* */
ion-icon {
  display: inline-block;
  color: var(--main-or);
  font-size: 4rem;
  margin-right: 1.2rem;
}
/* ********************************************************************************* */
/* *SECTION PROJECTS */
.project-number{
  font-size: 8.6rem;
  font-weight: 600;
  color: #ccc;
  margin-bottom: 1.2rem;
}

.project-heading {
  margin-bottom: 1.2rem;
}

.project-description{
  font-size: 1.8rem;
  line-height:1.8;
  margin-bottom: 4rem;
}

.project-img-box{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.project-img-box::before, 
.project-img-box::after{
  position: absolute;
  content:'';
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%) rotate(45deg);
}

.project-img-box::before{
  width: 60%;
  padding-bottom: 60%;
  background-color: #f8d8bd;
  z-index: -1;

}

.project-img-box::after{
  width: 45%;
  padding-bottom: 45%;
  z-index: -1;
  background-color: #f3bf91;
}

.project-img{
border-radius: 9px;
max-width: 280px;
}

.devicon{
  font-size: 5rem;
  color: var(--main-or);
  margin-right: 1.6rem;
}

/* ********************************************************************************* */

