/* ! SPACING SYSTEM (px) */
/* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

/*! FONT SIZE SYSTEM (px) */
/* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* ! whitespace (padding and margins) */
/* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 64 / 128 / */

/* ! shadows */

/* ! Font weights */
/* 
default: 400
Medium: 500
Semi-bold: 600
Bold: 700
*/
/* ! Line heights */
/* 
default: 1
Small: 1.05
Paragraph default: 1.6
*/

/* ! border-radius */
/* 
default: 9px 
*/
/* ! icons: ionicons */
/* ! colors */

/* 
#333

#fdf2e9
#fae4d1
#f9e0ca
#f8d8bd
#f3bf91

 */

:root {
  --gray-l-l: #e6e6e6;
  --gray-l: #495057;
  --gray: #343a40;
  --main-or: #e67e22;
  --main-or-dr: #cf711f;
  --main: #087f5b;
  --main-dr: #064935;
  --main-lg: #96f2d7;
}
/* ********************************************************************************* */
/* * STYLING FOR HEADER */
header {
  /* background-color: #fdf2e9; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
/* * break line after header */
header::after {
  content: '';
  display: block;
  height: 5px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f8d8bd;
  border-radius: 5px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-right: 12px;
}

.hover-efect {
  position: relative;
}

.hover-efect::before {
  content: '';
  display: block;
  height: 5px;
  border-radius: 5px;
  background-color: var(--main-or);
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  transform: scale(0, 1);
  transform-origin: left;
  transition: all ease-in-out 0.3s;
}

.hover-efect:hover::before {
  transform: scale(1, 1);
}

li > .main-nav-link:link:last-child {
  margin-left: 1.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  margin: 0 auto;
  font-size: 2.4rem;
  color: var(--gray);
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: var(--main-or);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: var(--main-or);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--main-or-dr);
}

.container {
  margin: 20px;
}

.logo {
  margin: 1.6rem 3.2rem;
  font-family: 'Tangerine', cursive;
  font-style: normal;
  font-weight: bolder;
  font-size: 6.44rem;
  position: relative;
}

.logo::after {
  content: '';
  position: absolute;
  height: 2px;
  background-color: var(--main-or);
  top: 40%;
  left: 20%;
  right: 0;
  border-radius: 9px;
}

/* ********************************************************************************* */
/* * HERO SECTION */
section {
  /* margin-bottom: 64px; */
}
.hero-img {
  width: 100%;
  border-radius: 50%;
}

/*! using grid */
.section-hero {
  padding: 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-text-box {
  text-align: center;
}

.heading-prefix,
.footer-prefix {
  display: inline-block;
  font-size: 1.6rem;
  color: var(--main-or);
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 6.4rem;
}
/* * button style */

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  font-weight: 600;
  /*! put transition on original "state" */
  transition: all 0.3s ease-in-out;
}

.btn--full:link,
.btn--full:visited {
  background-color: var(--main-or);
  color: #fff;
}
.btn--full:hover,
.btn--full:active {
  background-color: var(--main-or-dr);
  color: #fff;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}
.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  color: #555;
  /*! trick to add border inside */
  box-shadow: inset 0 0 0 3px #fff;
}

.margin-right-sm {
  margin-right: 1.6rem;
}

.dot {
  color: var(--main-or);
}

/* ********************************************************************************* */
/* * ABOUT SECTION */

.section-about {
  position: relative;
  /* background-color: #fdf2e9; */
  background-color: #f9e0ca;
  z-index: 10;
  /* clip-path: polygon(0 0, 100% 0, 75% 100%, 100% 0); */
  clip-path: polygon(0 4%, 100% 0, 100% 100%, 0 96%);
  padding: 6.4rem 0;
}

.flex-heading {
  display: flex;
  align-items: center;
  margin-bottom: 1.8rem;
}

.about-description {
  font-size: 1.6rem;
  line-height: 1.8;
  text-align: center;
  font-weight: 500;
}

.about-prefix {
  display: inline-block;
  font-size: 1.6rem;
  color: var(--main-or);
  font-weight: 600;
}

.about-text {
  font-size: 1.6rem;
  line-height: 1.05;
  font-weight: 500;
}
.edu-group {
  margin-top: 6.4rem;
  line-height: 1.8;
}

.about-img {
  clip-path: polygon(50% 0%, 100% 0, 87% 57%, 75% 100%, 0 100%, 18% 23%, 0 1%);
  width: 100%;
  /* border-radius: 50%; */
}

/* ********************************************************************************* */
ion-icon {
  display: inline-block;
  color: var(--main-or);
  font-size: 4rem;
  margin-right: 1.2rem;
}
/* ********************************************************************************* */
/* *SECTION PROJECTS */
.project-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ccc;
  margin-bottom: 1.2rem;
}

.project-heading {
  margin-bottom: 1.2rem;
}

.project-description {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4rem;
}

.project-img-box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.project-img-box::before,
.project-img-box::after {
  position: absolute;
  content: '';
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%) rotate(45deg);
}

.project-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fae4d1;
  z-index: -1;
}

.project-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  z-index: -1;
  background-color: #f3bf91;
}

.project-img {
  border-radius: 9px;
  max-width: 280px;
}

.devicon,
.social {
  display: inline-block;
  font-size: 5rem;
  color: var(--main-or);
  margin-right: 1.6rem;
  margin-bottom: 1.6rem;
}

/* ********************************************************************************* */
/* * SECTION COntact ME */
.section-contact {
  margin-top: 3.2rem;
  padding-top: 9.6rem;
  background-color: #f9e0ca;
  clip-path: polygon(0% 20%, 100% 0, 100% 100%, 0% 100%);
}
.socials {
  justify-content: center;
  align-self: center;
}
.social {
  margin-right: 3.2rem;
}
.contact-text, summary {
  justify-content: center;
  align-self: center;
  font-size: 1.8rem;
  line-height: 1.8;
  text-align: center;
  font-weight: 400;
}

.connect-form {
  width: 65%;
  background-color: #f3bf91;

  border: 2px solid #f3bf91;
  border-radius: 9px;
  padding: 6.4rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  
}

input,
textarea {
  display: inline-block;
  padding: 0.8rem;
  margin: 0.8rem;
  border-radius: 9px;
  border: none;
  min-width: 20rem;
}

input:focus, textarea:focus {
  background-color: #a1c7bc;
}

input[type="submit"], input[type="reset"]{
  background-color: var(--main-or);
  color:#fff;
  font-size: 1.8rem;
  padding: 1.3rem 2.4rem;
  border-radius: 9px;
  font-weight: 500;
}

summary{
  color: var(--main-or-dr)
}

/* ********************************************************************************* */
/* * FOOTER */
.footer {
  padding: 6.4rem 0;
  font-size: 1.8rem;
  background-color: #f9e0ca;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.footer-text {
  color: #999;
  border-bottom: 2px solid #f8d8bd;
}
.footer-prefix {
  font-size: 2.2rem;
}
