/* ! SPACING SYSTEM (px) */
/* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

/*! FONT SIZE SYSTEM (px) */
/* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* ! whitespace (padding and margins) */
/* 2 / 4 / 8 / 12 / 16 / 32 / 64 / 128 / */

:root {
    --gray-l-l: #e6e6e6;
    --gray-l: #495057;
    --gray:#343a40;
    --main: #087f5b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    color: var(--gray);
}
 html {
     scroll-behavior: smooth;
 }

 .hero{
     height:100vw;
 }

 
